
//
// VARIABLES
//

// Colors
$primary: #557A56;
$accent: #B16286;
$background: #282828;
$blue: #4183C4;

// Social
$twitter: #1da1f2;
$github: #fafafa;
$reddit: #ff4500;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fefefe;

// Font stacks
$roboto: 'Roboto', Helvetica, Arial, sans-serif;
$montserrat: 'Montserrat', 'Roboto', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}